<!DOCTYPE html>
<html lang="pt-BR">




<head>
   
    <!-- Meta tags Obrigatórias -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Estacionamento ABC - Cadastro de Veículo</title> 
    
    <link rel="stylesheet" type="text/css" href="../css/cadastro_veiculo.css"> 
    <!--Favicon-->
    <link rel="shortcut icon" type="image/ico" href="../imgs/favicon.ico"> 
    
    <!--Bootstrap CSS CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
</head>




<body>    

    <section class="container-fluid bg ">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-3">
                                                
                <!--Início do Formulário-->
                
                <form class="form-container">
                    
                    <!--Header do formulário-->
                    <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabelCadastro">Cadastro de Veículo</h5>
                    </div>
                   
                    <!--INPUT PLACA-->
                    <div class="form-group">
                       
                        <label for="InputPlaca" class="col-form-label">Placa:</label>
                    
                        <input type="text" class="form-control" id="InputPlaca">
                    
                    </div>
                    
                    <!--INPUT MODELO-->
                    <div class="form-group">
                       
                        <label for="InputModelo" class="col-form-label">Modelo:</label>
                    
                        <input type="text" class="form-control" id="InputModelo">
                    
                    </div>
                    
                    <!--INPUT COR-->
                    <div class="form-group">
                       
                        <label for="InputCor" class="col-form-label">Cor:</label>
                    
                        <input type="text" class="form-control" id="InputCor">
                    
                    </div>  
                    
                    <!--INPUT HORÁRIO DE ENTRADA-->
                    <div class="form-group">
                       
                        <label for="InputEntrada" class="col-form-label">Horário de Entrada:</label>
                    
                        <input type="text" class="form-control" id="InputEntrada">
                    
                    </div>                                                                                                          
                    <div class="modal-footer">
                    
                    <!--Botão finalizar - Imprime comprovante de estacionamento-->
                    <button type="button" class="btn btn-success btn-block" id="ButtonEntrar">Finalizar</button>
                    
                    <!--BOTÃO FECHAR-->
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    
                    </div>

                    
                </form>
                
            </section>
            
        </section>
        
    </section>                   
             
    <!--Bootstrap JS, Popper.js, and jQuery CDN-->
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</body>


</html>